<h1>Create information about our next release</h1>

<form method="POST" action="/releases">
  <div class="form-group">

    <label>Product Owner:</label>
    <input type="text" name="product_owner" class="form-control">

  </div>

  <div class="form-group">

    <label>Goals Summary:</label>
    <input type="text" name="goals" class="form-control" >

  </div>

  <div class="form-group">

    <label>Team:</label>
    <input type="text" name="team" class="form-control" >

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

  </div>
</form>