<h1>Sprint Planner Central</h1>
<h4 class="muted">Your central dashboard for sprint planning.</h4>

<hr />

<div class="row">


  <div class="col-sm-4">
    <div class="card">
      <a href="/product_owners_table" class="">
        <div class="card-body">

          <h4 class="card-title">Story Owner Central</h4>
          <p class="card-text">Where management can delete you with the click of a button. Whoopsies!</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <a href="/release_table" class="">
        <div class="card-body">
          <h4 class="card-title">Current Release</h4>
          <p class="card-text">See the hottest new features to be released, and the people to blame when they're not.</p>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <a href="/release_form" class="">
        <div class="card-body">
          <h4 class="card-title">Create The Next Release</h4>
          <p class="card-text">This actually isn't working properly yet, but things look nice in threes.</p>
        </div>
      </a>
    </div>
  </div>

</div>

<hr />
